@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body * {
  font-family: "Comfortaa", sans-serif;
}
@media screen and (max-width: 1024px) {
  body * {
    font-size: 0.9rem;
  }
}

/* Utils */
.clickable {
  cursor: pointer;
}

/* Components */
.card {
  @apply bg-teal-50 rounded;
}

.btn {
  @apply h-fit w-fit rounded-md normal-case;
}

.btn.btn-primary {
  color: #fff;
}

.btn.btn-cancel {
  @apply bg-gray-300 hover:bg-gray-400;
}

.btn-shadow {
  @apply shadow-md shadow-gray-400;
}
